ApSeMedicalServicesAdapterIC-Schemas/src/main/resources/schemas/TD_APSE_AXS_4_0_RC1/interactions/UppdateraSamtyckeInteraction/UppdateraSamtyckeInteraction_4.0_rivtabp21.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:argos="urn:riv:inera.se.apotekensservice:argos:1" xmlns:spdr="urn:riv:se.apotekensservice:axs:UppdateraSamtyckeResponder:4" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:reg="urn:riv:itintegration:registry:1" xmlns="urn:riv:se.apotekensservice:axs:UppdateraSamtycke:4:rivtabp21" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:riv:se.apotekensservice:axs:UppdateraSamtycke:4:rivtabp21" name="UppdateraSamtyckeInteraction">
  <xs:annotation>
    <xs:documentation>
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2012-11-08 Version 4.0
            Tjänstedomän: se.apotekensservice:axs.
            Tjänsteinteraktionens namn: UppdateraSamtycke.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Tekniska Anvisning: Basic Profile 2.1
        </xs:documentation>
  </xs:annotation>
  <wsdl:types>
    <xs:schema targetNamespace="urn:riv:se.apotekensservice:axs:UppdateraSamtycke:4:rivtabp21">
      <xs:import schemaLocation="UppdateraSamtyckeResponder_4.0.xsd" namespace="urn:riv:se.apotekensservice:axs:UppdateraSamtyckeResponder:4"/>
      <xs:import schemaLocation="../../core_components/itintegration_registry_1.0.xsd" namespace="urn:riv:itintegration:registry:1"/>
      <xs:import schemaLocation="../../core_components/ArgosHeader_1.0.xsd" namespace="urn:riv:inera.se.apotekensservice:argos:1"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="UppdateraSamtyckeRequest">
    <wsdl:part element="spdr:UppdateraSamtycke" name="parameters"/>
    <wsdl:part name="LogicalAddress" element="reg:LogicalAddress">
      <wsdl:documentation>Orgnr of Apotekens Service AB</wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="ArgosHeader" element="argos:ArgosHeader">
      <wsdl:documentation>Argos header of Apotekens Service AB. Check documentation regarding mandatory fields for this specific service interaction</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UppdateraSamtyckeResponse">
    <wsdl:part element="spdr:UppdateraSamtyckeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApplicationException">
    <wsdl:part element="spdr:ApplicationException" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SystemException">
    <wsdl:part element="spdr:SystemException" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UppdateraSamtyckeResponderInterface">
    <wsdl:operation name="UppdateraSamtycke">
      <wsdl:input message="UppdateraSamtyckeRequest"/>
      <wsdl:output message="UppdateraSamtyckeResponse"/>
      <wsdl:fault message="ApplicationException" name="ApplicationException"/>
      <wsdl:fault message="SystemException" name="SystemException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UppdateraSamtyckeResponderBinding" type="UppdateraSamtyckeResponderInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UppdateraSamtycke">
      <soap:operation soapAction="urn:riv:se.apotekensservice:axs:UppdateraSamtyckeResponder:4:UppdateraSamtycke"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" message="UppdateraSamtyckeRequest" part="LogicalAddress"/>
        <soap:header use="literal" message="UppdateraSamtyckeRequest" part="ArgosHeader"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault name="ApplicationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SystemException">
        <soap:fault name="SystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UppdateraSamtyckeResponderService">
    <wsdl:port name="UppdateraSamtyckeResponderPort" binding="UppdateraSamtyckeResponderBinding">
      <soap:address location="http://temp.uri/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
