ApSeMedicalServicesAdapterIC-Schemas/src/main/resources/schemas/TD_APSE_LF_4_0_RC1/interactions/LasLFForskrivareInteraction/LasLFForskrivareInteraction_4.0_rivtabp21.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itr="urn:riv:itintegration:registry:1" xmlns:argos="urn:riv:inera.se.apotekensservice:argos:1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="urn:riv:se.apotekensservice:lf:LasLFForskrivare:4:rivtabp21" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spdr="urn:riv:se.apotekensservice:lf:LasLFForskrivareResponder:4" targetNamespace="urn:riv:se.apotekensservice:lf:LasLFForskrivare:4:rivtabp21" name="LasLFForskrivareInteraction">
  <xs:annotation>
    <xs:documentation>
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2014-04-10 Version 4.0
            Tjänstedomän: se.apotekensservice:lf.
            Tjänsteinteraktionens namn: LasLFForskrivare.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Tekniska Anvisning: Basic Profile 2.1
        </xs:documentation>
  </xs:annotation>
  <wsdl:types>
    <xs:schema targetNamespace="urn:riv:se.apotekensservice:lf:LasLFForskrivare:4:rivtabp21">
      <xs:import schemaLocation="LasLFForskrivareResponder_4.0.xsd" namespace="urn:riv:se.apotekensservice:lf:LasLFForskrivareResponder:4"/>
      <xs:import schemaLocation="../../core_components/itintegration_registry_1.0.xsd" namespace="urn:riv:itintegration:registry:1"/>
      <xs:import schemaLocation="../../core_components/ArgosHeader_1.0.xsd" namespace="urn:riv:inera.se.apotekensservice:argos:1"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="LasLFForskrivareRequest">
    <wsdl:part name="parameters" element="spdr:LasLFForskrivare"/>
    <wsdl:part name="LogicalAddress" element="itr:LogicalAddress">
      <wsdl:documentation>Orgnr of Apotekens Service AB</wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="ArgosHeader" element="argos:ArgosHeader">
      <wsdl:documentation>Argos header of Apotekens Service AB. Check documentation regarding mandatory fields for this specific service interaction</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LasLFForskrivareResponse">
    <wsdl:part name="parameters" element="spdr:LasLFForskrivareResponse"/>
  </wsdl:message>
  <wsdl:message name="ApplicationException">
    <wsdl:part name="parameters" element="spdr:ApplicationException"/>
  </wsdl:message>
  <wsdl:message name="SystemException">
    <wsdl:part name="parameters" element="spdr:SystemException"/>
  </wsdl:message>
  <wsdl:portType name="LasLFForskrivareResponderInterface">
    <wsdl:operation name="LasLFForskrivare">
      <wsdl:input message="LasLFForskrivareRequest"/>
      <wsdl:output message="LasLFForskrivareResponse"/>
      <wsdl:fault name="ApplicationException" message="ApplicationException"/>
      <wsdl:fault name="SystemException" message="SystemException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LasLFForskrivareResponderBinding" type="LasLFForskrivareResponderInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="LasLFForskrivare">
      <soap:operation soapAction="urn:riv:se.apotekensservice:lf:LasLFForskrivareResponder:4:LasLFForskrivare"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" message="LasLFForskrivareRequest" part="LogicalAddress"/>
        <soap:header use="literal" message="LasLFForskrivareRequest" part="ArgosHeader"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault use="literal" name="ApplicationException"/>
      </wsdl:fault>
      <wsdl:fault name="SystemException">
        <soap:fault use="literal" name="SystemException"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LasLFForskrivareResponderService">
    <wsdl:port name="LasLFForskrivareResponderPort" binding="LasLFForskrivareResponderBinding">
      <soap:address location="http://temp.uri/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
