ApSeMedicalServicesAdapterIC-Schemas/src/main/resources/schemas/TD_APSE_PRIS_2_0_RC1/interactions/SkapaHkdbKontoInteraction/SkapaHkdbKontoInteraction_4.0_rivtabp21.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itr="urn:riv:itintegration:registry:1" xmlns:argos="urn:riv:inera.se.apotekensservice:argos:1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="urn:riv:se.apotekensservice:pris:SkapaHkdbKonto:4:rivtabp21" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spdr="urn:riv:se.apotekensservice:pris:SkapaHkdbKontoResponder:4" targetNamespace="urn:riv:se.apotekensservice:pris:SkapaHkdbKonto:4:rivtabp21" name="SkapaHkdbKontoInteraction">
  <xs:annotation>
    <xs:documentation>
	        Tjänsteinteraktionens namn: SkapaHkdbKonto.
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2015-08-18 Version 4.0.1
						2013-04-24 Version 4.0
            Tjänstedomän: se.apotekensservice:pris.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Teknisk Anvisning: Basic Profile 2.1 anpassad enligt eHälsomyndighetens tekniska riktlinjer
		    Förvaltning: Kontakta support hos eHälsomyndigheten
        </xs:documentation>
  </xs:annotation>
  <wsdl:types>
    <xs:schema targetNamespace="urn:riv:se.apotekensservice:pris:SkapaHkdbKonto:4:rivtabp21">
      <xs:import schemaLocation="SkapaHkdbKontoResponder_4.0.xsd" namespace="urn:riv:se.apotekensservice:pris:SkapaHkdbKontoResponder:4"/>
      <xs:import schemaLocation="../../core_components/itintegration_registry_1.0.xsd" namespace="urn:riv:itintegration:registry:1"/>
      <xs:import schemaLocation="../../core_components/ArgosHeader_1.0.xsd" namespace="urn:riv:inera.se.apotekensservice:argos:1"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SkapaHkdbKontoRequest">
    <wsdl:part name="parameters" element="spdr:SkapaHkdbKonto"/>
    <wsdl:part name="LogicalAddress" element="itr:LogicalAddress">
      <wsdl:documentation>Orgnr of Apotekens Service AB</wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="ArgosHeader" element="argos:ArgosHeader">
      <wsdl:documentation>Argos header of Apotekens Service AB. Check documentation regarding mandatory fields for this specific service interaction</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SkapaHkdbKontoResponse">
    <wsdl:part name="parameters" element="spdr:SkapaHkdbKontoResponse"/>
  </wsdl:message>
  <wsdl:message name="ApplicationException">
    <wsdl:part name="parameters" element="spdr:ApplicationException"/>
  </wsdl:message>
  <wsdl:message name="SystemException">
    <wsdl:part name="parameters" element="spdr:SystemException"/>
  </wsdl:message>
  <wsdl:portType name="SkapaHkdbKontoResponderInterface">
    <wsdl:operation name="SkapaHkdbKonto">
      <wsdl:input message="SkapaHkdbKontoRequest"/>
      <wsdl:output message="SkapaHkdbKontoResponse"/>
      <wsdl:fault name="ApplicationException" message="ApplicationException"/>
      <wsdl:fault name="SystemException" message="SystemException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SkapaHkdbKontoResponderBinding" type="SkapaHkdbKontoResponderInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SkapaHkdbKonto">
      <soap:operation soapAction="urn:riv:se.apotekensservice:pris:SkapaHkdbKontoResponder:4:SkapaHkdbKonto"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" message="SkapaHkdbKontoRequest" part="LogicalAddress"/>
        <soap:header use="literal" message="SkapaHkdbKontoRequest" part="ArgosHeader"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault use="literal" name="ApplicationException"/>
      </wsdl:fault>
      <wsdl:fault name="SystemException">
        <soap:fault use="literal" name="SystemException"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SkapaHkdbKontoResponderService">
    <wsdl:port name="SkapaHkdbKontoResponderPort" binding="SkapaHkdbKontoResponderBinding">
      <soap:address location="http://temp.uri/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
