ApSeMedicalServicesAdapterIC-Schemas/src/main/resources/schemas/TD_APSE_OR_5_0_RC1/interactions/SkapaOrdinationVardInteraction/SkapaOrdinationVardInteraction_5.0_rivtabp21.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itr="urn:riv:itintegration:registry:1" xmlns:argos="urn:riv:inera.se.apotekensservice:argos:1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="urn:riv:se.apotekensservice:or:SkapaOrdinationVard:5:rivtabp21" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spdr="urn:riv:se.apotekensservice:or:SkapaOrdinationVardResponder:5" targetNamespace="urn:riv:se.apotekensservice:or:SkapaOrdinationVard:5:rivtabp21" name="SkapaOrdinationVardInteraction">
  <xs:annotation>
    <xs:documentation>
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2014-04-07 Version 5.0
            Tjänstedomän: se.apotekensservice:or.
            Tjänsteinteraktionens namn: SkapaOrdinationVard.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Tekniska Anvisning: Basic Profile 2.1
        </xs:documentation>
  </xs:annotation>
  <wsdl:types>
    <xs:schema targetNamespace="urn:riv:se.apotekensservice:or:SkapaOrdinationVard:5:rivtabp21">
      <xs:import schemaLocation="SkapaOrdinationVardResponder_5.0.xsd" namespace="urn:riv:se.apotekensservice:or:SkapaOrdinationVardResponder:5"/>
      <xs:import schemaLocation="../../core_components/itintegration_registry_1.0.xsd" namespace="urn:riv:itintegration:registry:1"/>
      <xs:import schemaLocation="../../core_components/ArgosHeader_1.0.xsd" namespace="urn:riv:inera.se.apotekensservice:argos:1"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SkapaOrdinationVardRequest">
    <wsdl:part name="parameters" element="spdr:SkapaOrdinationVard"/>
    <wsdl:part name="LogicalAddress" element="itr:LogicalAddress">
      <wsdl:documentation>Orgnr of Apotekens Service AB</wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="ArgosHeader" element="argos:ArgosHeader">
      <wsdl:documentation>Argos header of Apotekens Service AB. Check documentation regarding mandatory fields for this specific service interaction</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SkapaOrdinationVardResponse">
    <wsdl:part name="parameters" element="spdr:SkapaOrdinationVardResponse"/>
  </wsdl:message>
  <wsdl:message name="ApplicationException">
    <wsdl:part name="parameters" element="spdr:ApplicationException"/>
  </wsdl:message>
  <wsdl:message name="SystemException">
    <wsdl:part name="parameters" element="spdr:SystemException"/>
  </wsdl:message>
  <wsdl:portType name="SkapaOrdinationVardResponderInterface">
    <wsdl:operation name="SkapaOrdinationVard">
      <wsdl:input message="SkapaOrdinationVardRequest"/>
      <wsdl:output message="SkapaOrdinationVardResponse"/>
      <wsdl:fault name="ApplicationException" message="ApplicationException"/>
      <wsdl:fault name="SystemException" message="SystemException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SkapaOrdinationVardResponderBinding" type="SkapaOrdinationVardResponderInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SkapaOrdinationVard">
      <soap:operation soapAction="urn:riv:se.apotekensservice:or:SkapaOrdinationVardResponder:5:SkapaOrdinationVard"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" message="SkapaOrdinationVardRequest" part="LogicalAddress"/>
        <soap:header use="literal" message="SkapaOrdinationVardRequest" part="ArgosHeader"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault use="literal" name="ApplicationException"/>
      </wsdl:fault>
      <wsdl:fault name="SystemException">
        <soap:fault use="literal" name="SystemException"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SkapaOrdinationVardResponderService">
    <wsdl:port name="SkapaOrdinationVardResponderPort" binding="SkapaOrdinationVardResponderBinding">
      <soap:address location="http://temp.uri/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
