ApSeMedicalServicesAdapterIC-Schemas/src/main/resources/schemas/TD_APSE_EXPO_2_0_RC1/interactions/SkapaApotekInteraction/SkapaApotekResponder_6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:riv:se.apotekensservice:expo:SkapaApotekResponder:6"
           xmlns:expo="urn:riv:se.apotekensservice:expo:6"
           xmlns:expo4="urn:riv:se.apotekensservice:expo:4"
           targetNamespace="urn:riv:se.apotekensservice:expo:SkapaApotekResponder:6"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="6.0">

    <xs:import namespace="urn:riv:se.apotekensservice:expo:4" schemaLocation="../../core_components/se.apotekensservice_expo_4.0.xsd"/>
    <xs:import namespace="urn:riv:se.apotekensservice:expo:6" schemaLocation="../../core_components/se.apotekensservice_expo_6.0.xsd"/>

    <!-- Globala element: Metod parametrar -->
    <xs:element name="SkapaApotek" type="SkapaApotekRequestType"/>
    <xs:element name="SkapaApotekResponse" type="SkapaApotekResponseType"/>

    <!-- Fel -->
    <xs:element name="ApplicationException" type="expo4:ApplicationException"/>
    <xs:element name="SystemException" type="expo4:SystemException"/>

    <xs:complexType name="SkapaApotekRequestType">
        <xs:sequence>
            <xs:element name="allmTelefon" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets allmänna telefonnummer.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="besoksAdress" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets besöksadress.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="besoksort" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets ort (besöksort).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="eRecept" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>Flagga som anger om expeditionsstället är ett apotek som kan hantera
                        e-recept för besökande privat personer.

                        <para>Om eRecept är satt så är termerna kortNamn och recepturtelefon obligatoriska.</para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="eReceptDjur" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>Markering om apoteket kan expediera elektroniska djurrecept eller ej.

                        <para>Om eReceptDjur är satt så är termerna kortNamn och recepturtelefon obligatoriska.</para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="faxnummer" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets faxnummer.
                        <para>
                            Obligatoriskt om huvudorganisationskod = DX eller om Organisationskod = DOS
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>


            <xs:element name="huvudOrgTypKod" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Huvudtypkoden är till stöd för dagens lösning av vårdsystem. På sikt önskar Apotekens
                        Service AB att dessa koder arbetas bort och byts ut mot
                        organisationstypflaggorna (ADM, DIST, DJAP, DOS, EA, EH, GSL, SA, TILV)
                    </para>

                        <para> Möjliga värden: ADM, AP, DIAP, DJUR, DX, OAP, SA, TVAP </para>

                        <para> ADM </para>
                        <para> En organisatiorisk enhet inom ett företag som har rent
                            administrativa uppgifter. </para>

                        <para> AP </para>
                        <para> Apotek för allmänheten - enhet för detaljhandel med läkemedel med
                            farmaceutisk bemanning under öppethållandet. </para>

                        <para> DIAP </para>
                        <para> Distansapotek - Större apoteksenhet med ansvar att kunna
                            distribuera apoteksvaror direkt till avtalskunder, apoteksombud eller
                            privatpersoner </para>

                        <para> DJUR </para>
                        <para> Ett apotek som har utökat djursortiment.
                        </para>

                        <para> DX </para>
                        <para> Dosapotek - enhet för produktion av dosdispenserade läkemedel.
                        </para>

                        <para> OAP </para>
                        <para> Övriga apotek - gammal definition av apotek. Bör ej användas. </para>

                        <para> SA </para>
                        <para> Sjukhusapotek - apotek som ger service till slutenvårdsenheter
                        </para>

                        <para> TVAP </para>
                        <para> Enhet som på beställning tillverkar specifika individanpassade läkemedel.
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="idLista" type="expo4:IdentitetRequest" nillable="false" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Lista innehållande en eller flera identifierare för expeditionsstället.
                        En Identitet som ska gälla för ett expeditionsställe kan skickas en eller
                        flera gånger och tas aldrig bort. Vid uppdatering av ett
                        expeditionsställe skickas en eller flera identiteter som identifierare. Obs! GLN-kod måste alltid skickas med.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kommun" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets kommuntillhörighet, kod enligt SCB.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kortNamn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kortversion på apoteksnamn. Behövs i bla i vårdsystem.
                        <para> Om termen eRecept och/eller eReceptDjur är satt så är termerna
                            kortNamn och recepturtelefon obligatoriska.
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lan" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets länstillhörighet, kod enligt SCB.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="namn" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets officiella namn.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="oppetHallandeLista" type="expo:OppethallandeRequest" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>När expeditionsstället har öppet. Måste skickas med vid varje
                        uppdatering. All tidigare öppethållande data raderas innan det nya
                        öppethållande datat läggs in.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgNr" type="xs:long" nillable="false">
                <xs:annotation>
                    <xs:documentation>Aktörens organisationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypADM" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod ADM som beskriver typ av expeditionsställe. </para>

                        <para> En organisatiorisk enhet inom ett företag som har rent
                            administrativa uppgifter. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypDIST" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod DIST som beskriver typ av expeditionsställe. </para>

                        <para> Distansapotek - Större apoteksenhet med ansvar att kunna
                            distribuera apoteksvaror direkt till avtalskunder, apoteksombud eller
                            privatpersoner </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypDJAP" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod DJAP som beskriver typ av expeditionsställe. </para>

                        <para> Ett apotek som har utökat djursortiment.
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypDOS" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod DOS som beskriver typ av expeditionsställe. </para>

                        <para> Dosapotek - enhet för produktion av dosdispenserade läkemedel. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypEA" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod EA som beskriver typ av expeditionsställe. </para>

                        <para> Apotek för allmänheten - enhet för detaljhandel med läkemedel med
                            farmaceutisk bemanning under öppethållandet. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypEH" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod EH som beskriver typ av expeditionsställe. </para>
                        <para> En enhet som som kan lämna ut e-handel, dit man kan skicka e-handelspacket.</para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypGSL" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod GSL som beskriver typ av expeditionsställe. </para>
                        <para> Alla expeditionställen som säljer sortimentet på 80-listan (t ex
                            shopar) ska ha flaggan satt. "General Sales list" - även kallad för
                            "80-listan", enbart varor som ej är receptbelagda och som ingår i
                            80-sortimentet. Alla expeditionställen som säljer sortimentet på
                            80-listan (t ex shopar) ska ha flaggan satt. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypSA" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod SA som beskriver typ av expeditionsställe. </para>

                        <para> Sjukhusapotek - apotek som ger service till slutenvårdsenheter.
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypTILV" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod TILV som beskriver typ av expeditionsställe. </para>

                        <para> Enhet som på beställning tillverkar individanpassade specifika läkemedel.

                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="postAdress" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets postAdress.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="postNr" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets postNr.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="postort" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets postort.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="recepturtelefon" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets receptur telefonnummer.
                        <para> Om termen eRecept och/eller eReceptDjur är satt så är termerna kortNamn och
                            recepturtelefon obligatoriska. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="slutDatum" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Datum för avslut av verksamhet.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="startDatum" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Datum för start av verksamhet. Det datum som allmänheten kan använda
                        Apoteket.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tidigareGlnKod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets tidigare ägares GLN.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="extension" type="ExtensionType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SkapaApotekResponseType">
        <xs:sequence>
            <xs:element name="allmTelefon" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets allmänna telefonnummer.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="besoksAdress" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets besöksadress.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="besoksort" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets ort (besöksort).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="eRecept" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>Flagga som anger om expeditionsstället är ett apotek som kan hantera
                        e-recept för besökande privat personer.

                        <para>Om eRecept är satt så är termerna kortNamn och recepturtelefon obligatoriska.</para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="eReceptDjur" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>Markering om apoteket kan expediera elektroniska djurrecept eller ej.

                        <para>Om eReceptDjur är satt så är termerna kortNamn och recepturtelefon obligatoriska.</para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="faxnummer" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets faxnummer.
                        <para>
                            Obligatoriskt om huvudorganisationskod = DX eller om Organisationskod = DOS
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="huvudOrgTypKod" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Huvudtypkoden är till stöd för dagens lösning av vårdsystem. På sikt önskar Apotekens
                        Service AB att dessa koder arbetas bort och byts ut mot
                        organisationstypflaggorna (ADM, DIST, DJAP, DOS, EA, EH, GSL, SA, TILV)
                    </para>

                        <para> Möjliga värden: ADM, AP, DIAP, DJUR, DX, OAP, SA, TVAP </para>

                        <para> ADM </para>
                        <para> En organisatiorisk enhet inom ett företag som har rent
                            administrativa uppgifter. </para>

                        <para> AP </para>
                        <para> Apotek för allmänheten - enhet för detaljhandel med läkemedel med
                            farmaceutisk bemanning under öppethållandet. </para>

                        <para> DIAP </para>
                        <para> Distansapotek - Större apoteksenhet med ansvar att kunna
                            distribuera apoteksvaror direkt till avtalskunder, apoteksombud eller
                            privatpersoner </para>

                        <para> DJUR </para>
                        <para> Ett apotek som har utökat djursortiment.
                        </para>

                        <para> DX </para>
                        <para> Dosapotek - enhet för produktion av dosdispenserade läkemedel.
                        </para>

                        <para> OAP </para>
                        <para> Övriga apotek - gammal definition av apotek. Bör ej användas. </para>

                        <para> SA </para>
                        <para> Sjukhusapotek - apotek som ger service till slutenvårdsenheter
                        </para>

                        <para> TVAP </para>
                        <para> Enhet som på beställning tillverkar specifika individanpassade läkemedel.
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="idLista" type="expo4:IdentitetResponse" nillable="false" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Lista innehållande en eller flera identifierare för expeditionsstället.
                        En Identitet som ska gälla för ett expeditionsställe kan skickas en eller
                        flera gånger och tas aldrig bort. Vid uppdatering av ett
                        expeditionsställe skickas en eller flera identiteter som identifierare. Obs! GLN-kod måste alltid skickas med.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kommun" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets kommuntillhörighet, kod enligt SCB.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="kortNamn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kortversion på apoteksnamn. Behövs i bla i vårdsystem.
                        <para> Om termen eRecept och/eller eReceptDjur är satt så är termerna
                            kortNamn och recepturtelefon obligatoriska.
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lan" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets länstillhörighet, kod enligt SCB.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="namn" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets officiella namn.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="oppetHallandeLista" type="expo4:OppethallandeResponse" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>När expeditionsstället har öppet. Måste skickas med vid varje
                        uppdatering. All tidigare öppethållande data raderas innan det nya
                        öppethållande datat läggs in.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgNr" type="xs:long" nillable="false">
                <xs:annotation>
                    <xs:documentation>Aktörens organisationsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypADM" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod ADM som beskriver typ av expeditionsställe. </para>

                        <para> En organisatiorisk enhet inom ett företag som har rent
                            administrativa uppgifter. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypDIST" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod DIST som beskriver typ av expeditionsställe. </para>

                        <para> Distansapotek - Större apoteksenhet med ansvar att kunna
                            distribuera apoteksvaror direkt till avtalskunder, apoteksombud eller
                            privatpersoner </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypDJAP" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod DJAP som beskriver typ av expeditionsställe. </para>

                        <para> Ett apotek som har utökat djursortiment.
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypDOS" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod DOS som beskriver typ av expeditionsställe. </para>

                        <para> Dosapotek - enhet för produktion av dosdispenserade läkemedel. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypEA" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod EA som beskriver typ av expeditionsställe. </para>

                        <para> Apotek för allmänheten - enhet för detaljhandel med läkemedel med
                            farmaceutisk bemanning under öppethållandet. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypEH" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod EH som beskriver typ av expeditionsställe. </para>
                        <para> En enhet som som kan lämna ut e-handel, dit man kan skicka e-handelspacket.</para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypGSL" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod GSL som beskriver typ av expeditionsställe. </para>
                        <para> Alla expeditionställen som säljer sortimentet på 80-listan (t ex
                            shopar) ska ha flaggan satt. "General Sales list" - även kallad för
                            "80-listan", enbart varor som ej är receptbelagda och som ingår i
                            80-sortimentet. Alla expeditionställen som säljer sortimentet på
                            80-listan (t ex shopar) ska ha flaggan satt. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypSA" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod SA som beskriver typ av expeditionsställe. </para>

                        <para> Sjukhusapotek - apotek som ger service till slutenvårdsenheter.
                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="orgTypTILV" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation><para> Kod TILV som beskriver typ av expeditionsställe. </para>

                        <para> Enhet som på beställning tillverkar individanpassade specifika läkemedel.

                        </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="postAdress" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets postAdress.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="postNr" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets postNr.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="postort" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets postort.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="recepturtelefon" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets receptur telefonnummer.
                        <para> Om termen eRecept och/eller eReceptDjur är satt så är termerna kortNamn och
                            recepturtelefon obligatoriska. </para></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="slutDatum" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Datum för avslut av verksamhet.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="startDatum" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Datum för start av verksamhet. Det datum som allmänheten kan använda
                        Apoteket.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tidigareGlnKod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets tidigare ägares GLN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="extension" type="ExtensionType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExtensionType">
        <xs:sequence>
            <xs:any namespace="##any"
                    processContents="lax"
                    minOccurs="0"
                    maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>