ApSeMedicalServicesAdapterIC-Schemas/src/main/resources/schemas/TD_APSE_EXPO_1_0_0_SNAPSHOT/interactions/UppdateraExpoMedApotekInteraction/UppdateraExpoMedApotekResponder_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:riv:se.apotekensservice:expo:UppdateraExpoMedApotekResponder:1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:expo="urn:riv:se.apotekensservice:expo:1" targetNamespace="urn:riv:se.apotekensservice:expo:UppdateraExpoMedApotekResponder:1" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">
  <xs:import schemaLocation="../../core_components/se.apotekensservice_expo_1.0.xsd" namespace="urn:riv:se.apotekensservice:expo:1"/>
  <xs:element name="UppdateraExpoMedApotek" type="UppdateraExpoMedApotekRequestType"/>
  <xs:element name="UppdateraExpoMedApotekResponse" type="UppdateraExpoMedApotekResponseType"/>
  <xs:element name="ApplicationException" type="expo:ApplicationException"/>
  <xs:element name="SystemException" type="expo:SystemException"/>
  <xs:complexType name="UppdateraExpoMedApotekRequestType">
    <xs:sequence>
      <xs:element nillable="false" name="allmTelefon" type="xs:string">
        <xs:annotation>
          <xs:documentation>Expeditionsställets allmänna telefonnummer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="besoksAdress" type="xs:string">
        <xs:annotation>
          <xs:documentation>Expeditionsställets besöksadress.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="besoksort" type="xs:string">
        <xs:annotation>
          <xs:documentation>Expeditionsställets ort (besöksort).
<emphasis role="bold">OBS! Validering 1..20 tecken gäller. Värdet till vänster är felaktigt.</emphasis>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="eRecept" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Flagga som anger om expeditionsstället är ett apotek som kan hantera 
e-recept för besökande privat personer.

<para>Om eRecept är satt så är termerna kortNamn och recepturtelefon obligatoriska.</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="eReceptDjur" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Markering om apoteket kan expediera elektroniska djurrecept eller ej.

<para>Om eReceptDjur är satt så är termerna kortNamn och recepturtelefon obligatoriska.</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="faxnummer" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Expeditionsställets faxnummer.
<para> 
Obligatoriskt om huvudorganisationskod = DX eller om Organisationskod = DOS
</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="forsamling" type="xs:int">
        <xs:annotation>
          <xs:documentation>Expeditionsställets församlingstillhörighet, kod enligt SCB.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="huvudOrgTypKod" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            <para> Huvudtypkoden är till stöd för dagens lösning av vårdsystem. På sikt önskar Apotekens
Service AB att dessa koder arbetas bort och byts ut mot
organisationstypflaggorna (ADM, DIST, DJAP, DOS, EA, EH, GSL, SA, TILV)
</para>
            <para> Möjliga värden: ADM, AP, DIAP, DJUR, DX, OAP, SA, TVAP </para>
            <para> ADM </para>
            <para> En organisatiorisk enhet inom ett företag som har rent
administrativa uppgifter. </para>
            <para> AP </para>
            <para> Apotek för allmänheten - enhet för detaljhandel med läkemedel med
farmaceutisk bemanning under öppethållandet. </para>
            <para> DIAP </para>
            <para> Distansapotek - Större apoteksenhet med ansvar att kunna
distribuera apoteksvaror direkt till avtalskunder, apoteksombud eller
privatpersoner </para>
            <para> DJUR </para>
            <para> Ett apotek som har utökat djursortiment. 
</para>
            <para> DX </para>
            <para> Dosapotek - enhet för produktion av dosdispenserade läkemedel.
</para>
            <para> OAP </para>
            <para> Övriga apotek - gammal definition av apotek. Bör ej användas. </para>
            <para> SA </para>
            <para> Sjukhusapotek - apotek som ger service till slutenvårdsenheter
</para>
            <para> TVAP </para>
            <para> Enhet som på beställning tillverkar specifika individanpassade läkemedel.   
</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="idLista" maxOccurs="unbounded" type="expo:IdentitetRequest">
        <xs:annotation>
          <xs:documentation>Lista innehållande en eller flera identifierare för expeditionsstället.
En Identitet som ska gälla för ett expeditionsställe kan skickas en eller
flera gånger och tas aldrig bort. Vid uppdatering av ett
expeditionsställe skickas en eller flera identiteter som identifierare. Obs! GLN-kod måste alltid skickas med.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="kommun" type="xs:int">
        <xs:annotation>
          <xs:documentation>Expeditionsställets kommuntillhörighet, kod enligt SCB.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kortNamn" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Kortversion på apoteksnamn. Behövs i bla i vårdsystem.
<para> Om termen eRecept eller eReceptDjur är satt så är termerna
kortNamn och recepturtelefon obligatoriska.
</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="lan" type="xs:int">
        <xs:annotation>
          <xs:documentation>Expeditionsställets länstillhörighet, kod enligt SCB.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="namn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Expeditionsställets officiella namn.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="oppetHallandeLista" maxOccurs="unbounded" type="expo:OppethallandeRequest" minOccurs="0">
        <xs:annotation>
          <xs:documentation>När expeditionsstället har öppet. Måste skickas med vid varje
uppdatering. All tidigare öppethållande data raderas innan det nya
öppethållande datat läggs in.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgNr" type="xs:long">
        <xs:annotation>
          <xs:documentation>Aktörens organisationsnummer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypADM" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod ADM som beskriver typ av expeditionsställe. </para>
            <para> En organisatiorisk enhet inom ett företag som har rent
administrativa uppgifter. </para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypDIST" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod DIST som beskriver typ av expeditionsställe. </para>
            <para> Distansapotek - Större apoteksenhet med ansvar att kunna
distribuera apoteksvaror direkt till avtalskunder, apoteksombud eller
privatpersoner </para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypDJAP" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod DJAP som beskriver typ av expeditionsställe. </para>
            <para> Ett apotek som har utökat djursortiment.
</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypDOS" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod DOS som beskriver typ av expeditionsställe. </para>
            <para> Dosapotek - enhet för produktion av dosdispenserade läkemedel. </para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypEA" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod EA som beskriver typ av expeditionsställe. </para>
            <para> Apotek för allmänheten - enhet för detaljhandel med läkemedel med
farmaceutisk bemanning under öppethållandet. </para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypEH" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod EH som beskriver typ av expeditionsställe. </para>
            <para> En enhet som som kan lämna ut e-handel, dit man kan skicka e-handelspacket.</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypGSL" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod GSL som beskriver typ av expeditionsställe. </para>
            <para> Alla expeditionställen som säljer sortimentet på 80-listan (t ex
shopar) ska ha flaggan satt. "General Sales list" - även kallad för
"80-listan", enbart varor som ej är receptbelagda och som ingår i
80-sortimentet. Alla expeditionställen som säljer sortimentet på
80-listan (t ex shopar) ska ha flaggan satt. </para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypSA" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod SA som beskriver typ av expeditionsställe. </para>
            <para> Sjukhusapotek - apotek som ger service till slutenvårdsenheter.
</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="orgTypTILV" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            <para> Kod TILV som beskriver typ av expeditionsställe. </para>
            <para> Enhet som på beställning tillverkar individanpassade specifika läkemedel.

</para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="postAdress" type="xs:string">
        <xs:annotation>
          <xs:documentation>Expeditionsställets postAdress.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="postNr" type="xs:string">
        <xs:annotation>
          <xs:documentation>Expeditionsställets postNr.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="postort" type="xs:string">
        <xs:annotation>
          <xs:documentation>Expeditionsställets postort.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recepturtelefon" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Expeditionsställets receptur telefonnummer.
<para> Om e-receptflaggan, termen eRecept nedan, är satt så är termerna kortNamn och
recepturtelefon obligatoriska. </para>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="slutDatum" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Datum för avslut av verksamhet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element nillable="false" name="startDatum" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Datum för start av verksamhet. Det datum som allmänheten kan använda
Apoteket.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tidigareGlnKod" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Expeditionsställets tidigare ägares GLN.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="username" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Expeditionsställets stp username.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any processContents="lax" maxOccurs="unbounded" namespace="##other" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UppdateraExpoMedApotekResponseType">
    <xs:sequence>
      <xs:any processContents="lax" maxOccurs="unbounded" namespace="##other" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
