ApSeMedicalServicesAdapterIC-Schemas/src/main/resources/schemas/TD_APSE_OR_6_0_RC1/interactions/HamtaAktuellaOrdinationerInteraction/HamtaAktuellaOrdinationerInteraction_4.0_rivtabp21.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itr="urn:riv:itintegration:registry:1" xmlns:argos="urn:riv:inera.se.apotekensservice:argos:1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="urn:riv:se.apotekensservice:or:HamtaAktuellaOrdinationer:4:rivtabp21" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spdr="urn:riv:se.apotekensservice:or:HamtaAktuellaOrdinationerResponder:4" targetNamespace="urn:riv:se.apotekensservice:or:HamtaAktuellaOrdinationer:4:rivtabp21" name="HamtaAktuellaOrdinationerInteraction">
  <xs:annotation>
    <xs:documentation>
	        Tjänsteinteraktionens namn: HamtaAktuellaOrdinationer.
            Beskrivning: Tjänstekontraktet som avser att konkretisera tillämpningen av RIV.
            Revisioner: 2014-10-30 Version 4.0
            Tjänstedomän: se.apotekensservice:or.
            Tjänsteinteraktionstyp: Fråga-Svar.
            RIV Teknisk Anvisning: Basic Profile 2.1 anpassad enligt eHälsomyndighetens tekniska riktlinjer
		    Förvaltning: Kontakta support hos eHälsomyndigheten
        </xs:documentation>
  </xs:annotation>
  <wsdl:types>
    <xs:schema targetNamespace="urn:riv:se.apotekensservice:or:HamtaAktuellaOrdinationer:4:rivtabp21">
      <xs:import schemaLocation="HamtaAktuellaOrdinationerResponder_4.0.xsd" namespace="urn:riv:se.apotekensservice:or:HamtaAktuellaOrdinationerResponder:4"/>
      <xs:import schemaLocation="../../core_components/itintegration_registry_1.0.xsd" namespace="urn:riv:itintegration:registry:1"/>
      <xs:import schemaLocation="../../core_components/ArgosHeader_1.0.xsd" namespace="urn:riv:inera.se.apotekensservice:argos:1"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="HamtaAktuellaOrdinationerRequest">
    <wsdl:part name="parameters" element="spdr:HamtaAktuellaOrdinationer"/>
    <wsdl:part name="LogicalAddress" element="itr:LogicalAddress">
      <wsdl:documentation>Orgnr of Apotekens Service AB</wsdl:documentation>
    </wsdl:part>
    <wsdl:part name="ArgosHeader" element="argos:ArgosHeader">
      <wsdl:documentation>Argos header of Apotekens Service AB. Check documentation regarding mandatory fields for this specific service interaction</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HamtaAktuellaOrdinationerResponse">
    <wsdl:part name="parameters" element="spdr:HamtaAktuellaOrdinationerResponse"/>
  </wsdl:message>
  <wsdl:message name="ApplicationException">
    <wsdl:part name="parameters" element="spdr:ApplicationException"/>
  </wsdl:message>
  <wsdl:message name="SystemException">
    <wsdl:part name="parameters" element="spdr:SystemException"/>
  </wsdl:message>
  <wsdl:portType name="HamtaAktuellaOrdinationerResponderInterface">
    <wsdl:operation name="HamtaAktuellaOrdinationer">
      <wsdl:input message="HamtaAktuellaOrdinationerRequest"/>
      <wsdl:output message="HamtaAktuellaOrdinationerResponse"/>
      <wsdl:fault name="ApplicationException" message="ApplicationException"/>
      <wsdl:fault name="SystemException" message="SystemException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HamtaAktuellaOrdinationerResponderBinding" type="HamtaAktuellaOrdinationerResponderInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HamtaAktuellaOrdinationer">
      <soap:operation soapAction="urn:riv:se.apotekensservice:or:HamtaAktuellaOrdinationerResponder:4:HamtaAktuellaOrdinationer"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header use="literal" message="HamtaAktuellaOrdinationerRequest" part="LogicalAddress"/>
        <soap:header use="literal" message="HamtaAktuellaOrdinationerRequest" part="ArgosHeader"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault use="literal" name="ApplicationException"/>
      </wsdl:fault>
      <wsdl:fault name="SystemException">
        <soap:fault use="literal" name="SystemException"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HamtaAktuellaOrdinationerResponderService">
    <wsdl:port name="HamtaAktuellaOrdinationerResponderPort" binding="HamtaAktuellaOrdinationerResponderBinding">
      <soap:address location="http://temp.uri/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
