ApSeMedicalServicesAdapterIC-Schemas/src/main/resources/schemas/TD_APSE_EXPO_2_0_RC1/core_components/se.apotekensservice_expo_4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:riv:se.apotekensservice:expo:4"
           xmlns:doc="urn:riv:se.apotekensservice:expo:1"
           targetNamespace="urn:riv:se.apotekensservice:expo:4"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="4.0.1">

    <xs:annotation>
        <xs:documentation>
            Beskrivning: Meddelandetyper som är gemensamma för expo.
            Revisioner: 2015-08-14, version 4.0.1
						2013-03-28, version 4.0
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="urn:riv:se.apotekensservice:expo:1" schemaLocation="se.apotekensservice_expo_1.0.xsd"/>

    <!-- Namespace other tillagd i 4.0 -->
    <xs:complexType name="SystemException">
        <xs:annotation>
            <xs:documentation>Systemfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Namespace other tillagd i 4.0 -->
    <xs:complexType name="ApplicationException">
        <xs:annotation>
            <xs:documentation>Applikationsfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Namespace other tillagd i 4.0 -->
    <xs:complexType name="OppethallandeRequest">
        <xs:annotation>
            <xs:documentation>Deprecated.</xs:documentation>
            <xs:appinfo>
                <doc:deprecated>true</doc:deprecated>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dagBenamning" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Exempelvis "Nyårsafton".</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lunchFrom" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Om lunchstängt, "stänger för lunch".
                        Format: HHmm
                        H=Timme (0-24)
                        m=Minut</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lunchTom" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Om lunchstängt, "Öppnar igen efter lunch kl".
                        Format: HHmm
                        H=Timme (0-24)
                        m=Minut</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="oppnar" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Öppningstid vardagar/vekodagnr.
                        Format: HHmm
                        H=Timme (0-24)
                        m=Minut</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="slutDatum" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Sista dagen i en period vid typ N, P eller S.
                        Obligatorisk vid typ P, S eller D.
                        Om typ D är slutdatum = startdatum.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="stanger" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Stängningstid  vardagar/vekodagnr. Format: HHmm
                        H=Timme (0-24)
                        m=Minut</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="startDatum" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Första dagen i en period vid typ N, P eller S.
                        Vid typ D anges datum för aktuell dag exv 2010-12-24.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tfStangtOrsak" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Orsak till tillfällig stängning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="typ" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Typ av öppethållande. N = Normalt P = avvikande
                        under angiven period D = avvikande under angiven
                        dag S = tillfälligt stängt under angiven period</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="veckodagnr" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ett nummer för veckodagen 1-7 för Måndag till
                        Söndag, V för vardagar.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Namespace other tillagd i 4.0 -->
    <xs:complexType name="OppethallandeResponse">
	   <xs:annotation>
            <xs:documentation>Deprecated.</xs:documentation>
            <xs:appinfo>
                <doc:deprecated>true</doc:deprecated>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dagBenamning" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Exempelvis "Nyårsafton".</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lunchFrom" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Om lunchstängt, "stänger för lunch".
                        Format: HHmm
                        H=Timme (0-24)
                        m=Minut</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lunchTom" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Om lunchstängt, "Öppnar igen efter lunch kl".
                        Format: HHmm
                        H=Timme (0-24)
                        m=Minut</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="oppnar" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Öppningstid vardagar/vekodagnr.
                        Format: HHmm
                        H=Timme (0-24)
                        m=Minut</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="slutDatum" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Sista dagen i en period vid typ N, P eller S.
                        Obligatorisk vid typ P, S eller D.
                        Om typ D är slutdatum = startdatum.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="stanger" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Stängningstid  vardagar/vekodagnr. Format: HHmm
                        H=Timme (0-24)
                        m=Minut</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="startDatum" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Första dagen i en period vid typ N, P eller S.
                        Vid typ D anges datum för aktuell dag exv 2010-12-24.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="tfStangtOrsak" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Orsak till tillfällig stängning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="typ" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Typ av öppethållande. N = Normalt P = avvikande
                        under angiven period D = avvikande under angiven
                        dag S = tillfälligt stängt under angiven period</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="veckodagnr" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ett nummer för veckodagen 1-7 för Måndag till
                        Söndag, V för vardagar.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Namespace other tillagd i 4.0 -->
    <xs:complexType name="KontaktpersonRequest">
        <xs:sequence>
            <xs:element name="befattning" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Kontaktpersonens befattning.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="efternamn" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Efternamn på kontaktperson hos aktören.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="epostadress" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Kontaktpersonens e-postadress</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="fornamn" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Förnamn på kontaktperson hos aktören.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="telefonnummer" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Kontaktpersonens telefonnummer.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Fält butikskod borttaget, dokumentation ändrad,
    namespace other tillagd i 4.0 -->
    <xs:complexType name="IdentitetRequest">
        <xs:sequence>
            <xs:element name="exportId" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Obligatorisk för identitet med glnKod.
                        Måste vara true om eRecept och/eller eReceptDjur är true.
                        ExportId får ej sättas till true för en butikskod (används bara för GLN).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="glnKod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets GLN-kod
                        Måste sättas på en av identiteterna.
                        Endast en glnkod per expeditionsställe är tillåtet.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Fält butikskod borttaget, namespace other tillagd i 2.0-->
    <xs:complexType name="IdentitetResponse">
        <xs:sequence>
            <xs:element name="exportId" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Obligatorisk för identitet med glnKod.
                        Måste vara true om eRecept och/eller eReceptDjur är true.
                        ExportId får ej sättas till true för en butikskod (används bara för GLN).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="glnKod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Expeditionsställets GLN-kod
                        Måste sättas på en av identiteterna.
                        Endast en glnkod per expeditionsställe är tillåtet.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
